.media-player {
  &__controls {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    background-color: white;
  }
  .native-player {
    display: none;
    width: 80%;
    margin: 0 auto;
  }
  &__video {
    background-color: $dark-gray;
    .native-player {
      display: flex;
    }
  }
}

.player-toolbar {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  &__main {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  &__more {
    display: flex;
    align-items: center;
    .more-icon {
      width: 1rem;
    }
  }
  &__other-controls {
    display: none;
    gap: 0.5rem;
    transition: display 0.4s;
    border-radius: 5px;
    padding: 0;
    background-color: $bg-gray;
    &--show {
      display: flex;
      position: absolute;
      right: 1rem;
      padding: 2px 0.5rem;
    }
    &>div,.icon {
      height: 1.6rem;
    }
  }
}

.player-time {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: $light-gray;
  font-size: 0.9rem;
  line-height: 0.6rem;
  &__divider {
   margin: 0 2px; 
  }
}

.icon {
  color: $light-gray;
  cursor: pointer;
  &:hover {
    color: $light-gray-lighten;
  }
}

.player-button {
  flex-basis: 1rem;
  padding: 0.1rem 0.1rem 0.1rem 0.15rem;
  border-radius: 25%;
  background-color: $primary-color;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  &:hover {
    background-color: $primary-color-darken;
  }
}

.volume .volume-slider {
  &:hover, &--show{
    display: block;
  }
}

.volume-slider {
  -webkit-appearance: none;
  -webkit-transform: rotate(90deg);
  display: none;
  position: absolute;
  right: 2.6rem;
  bottom: 4.3rem;
  z-index: 1;
  height: 1.5rem;
  width: 6rem;
  padding: 0.4rem;
  border-radius: 5px;
  background-color: $bg-gray;
  cursor: pointer;

  &::-webkit-slider {
    &-runnable-track {
      height: 0.3rem;
      background: $light-gray;
      border-radius: 2rem;
    }
    &-thumb {
      -webkit-appearance: none;
      appearance: none;
      margin-top: -0.2rem;
      background-color: $primary-color;
      height: 0.7rem;
      width: 0.7rem;
      border-radius: 50%;
    }
  }

  &::-moz-range {
    -moz-transform: rotate(90deg);
    background-color: transparent;
    &-track {
      height: 0.3rem;
      margin: 0;
      padding: 0;
      border-radius: 2rem;
      background-color: rgb(212, 212, 212);
    }
    &-progress {
      height: 0.3rem;
      border-radius: 2rem;
      background-color: $primary-color;
    }
    &-thumb {
      height: 0.8rem;
      width: 0.8rem;
      border: none;
      border-radius: 50%;
      background: $primary-color;
    }
  }
}

.seekbar {
  height: 1rem;
  &__background {
    display: flex;
    position: relative;
    width: 100%;
    height: 0.45rem;
    margin-bottom: 0.5rem;
    border-radius: 3rem;
    background-color: $light-gray;
    cursor: pointer;
  }

  &__progress-bar {
    position: absolute;
    width: 0%;
    height: 0.45rem;
    border-radius: 3rem;
    background-color: $primary-color;
  }

  &__knob {
    position: absolute;
    left: 0.5rem;
    width: 0.8rem;
    height: 0.8rem;
    margin-top: -0.2rem;
    margin-left: -0.5rem;
    border-radius: 50%;
    background-color: $primary-color;
    cursor: pointer;

    &:hover {
      background-color: $primary-color-darken;
    }
  }
}

.speed .speed-slider {
  &:hover, &--show{
    display: block;
  }
}

.speed-slider {
  display: none;
  position: absolute;
  right: 0rem;
  bottom: 2.2rem;
  z-index: 1;
  padding: 0.4rem;
  border-radius: 5px;
  background-color: $bg-gray;

  &__text {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 600;
    color: $dark-gray;
  }

  &__track {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
    cursor: pointer;

    &::-webkit-slider {
      &-runnable-track {
        background: $light-gray;
        height: 0.3rem;
        border-radius: 2rem;
      }
      &-thumb {
        -webkit-appearance: none;
        appearance: none;
        margin-top: -0.2rem;
        background-color: $primary-color;
        height: 0.7rem;
        width: 0.7rem;
        border-radius: 50%;
      }
    }

    &::-moz-range {
      background-color: transparent;
      &-track {
        height: 0.3rem;
        margin: 0;
        padding: 0;
        border-radius: 2rem;
        background-color: $light-gray;
      }
      &-thumb {
        height: 0.8rem;
        width: 0.8rem;
        border: none;
        border-radius: 50%;
        background: $primary-color;
      }
    }
  }

  &__numbers {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: $light-gray;
    font-size: 0.5rem;
    line-height: 0.9rem;

    span {
      margin: 0 2px;
    }
  }
}

.subtitlesButton.material-icons {
  .hidden {
    display: none;
  }
}

.sliders {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 1.5rem;
  margin-top: 1rem;
  .playback {
    order: 1;
  }
}


@media (min-width: 350px) {
  .player-toolbar__other-controls {
    display: flex;
    background-color: transparent;
  }

  .more-icon.material-icons {
    display: none;
  }

  .volume-slider {
    bottom: 4.3rem;
    right: 1.9rem;
  }

  .speed-slider {
    bottom: 2.3rem;
  }

  .player-button {
    padding: 0.2rem 0.2rem 0.2rem 0.25rem;
  }
}

@media (min-width: 450px) {
  .native-player {
    width: 60%;
    margin: 0 auto;
  }

  .player-button {
    padding: 0.3rem 0.3rem 0.3rem 0.35rem;
  }
}
