$primary-color: #f3ab58;
$primary-color-darken: #f29f40;
$light-gray: #999;
$light-gray-lighten: rgb(192, 192, 192);
$video-player-gray: rgb(57,57, 57);
$video-player-lighten: #414141fb;
$bg-gray: rgb(231 231 231 / 93%);